.leaflet-container {
  height: 100vh;
}


.leaflet-popup-content-wrapper {
  position: relative;
  bottom: 30px;
}

.leaflet-popup-tip-container {
  bottom: 10px;
}

.leaflet-container .leaflet-popup a.leaflet-popup-close-button {
  top: -30px;
}

.map-container {
  flex-grow: 2;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #FFF;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.25rem;
}